<template>
  <div id="app" :class="typeof weather.main != 'undefined' && weather.main.temp > 16 ? 'warm' : ''">
    <main>
      <div class="menu-box">
        <Slide>
          <div v-for="(item,index) in locationLst[0].data" :key="index">
            <div v-on:click="loadDataMenu(item)">
              {{ item }}
            </div>
          </div>
          <SearchLocationComponent style="width: 90%"/>
        </Slide>
      </div>

      <div class="search-box">
        <input
            type="text"
            class="search-bar"
            placeholder="Search..."
            v-model="query"
            @keypress="fetchWeather"
        />
      </div>

      <div class="weather-wrap" v-if="typeof weather.main != 'undefined'">
        <div class="location-box">
          <div class="location">{{ weather.name }}, {{ weather.sys.country }}</div>
          <div class="date">{{ dateBuilderCurrentDay() }}</div>
        </div>

        <div class="weather-box">
          <div class="temp">{{ Math.round(weather.main.temp) }}°c</div>
          <div class="icon">
            <img v-bind:src="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'" width="200"/>
          </div>
          <div class="weather">{{ weather.weather[0].main }}</div>
        </div>

        <div v-swiper="swiperOptions" class="swiper-container">
          <div class="swiper-wrapper">
            <div v-for="(item,index) in this.daily" :key="index" class="swiper-slide">
              <WeatherForecastComponent
                  :indexCard="index"
                  :weatherTemp="item.temp.day"
                  :weatherIcon="item.weather[0].icon"
                  :weatherMain="item.weather[0].main"
              />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import WeatherForecastComponent from "@/components/WeatherForecastComponent";
import SearchLocationComponent from "@/components/SearchLocationComponent";
import { swiper, swiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
import {Slide} from "vue-burger-menu";
import {mapGetters} from 'vuex';

export default {
  name: "WeatherPage",
  data () {
    return {
      api_key: '32367c10951289b14b19a306e65e3558',
      url_base: 'https://api.openweathermap.org/data/2.5/',
      query: '',
      defaultQuery: 'Ha Noi',
      weather: {},
      daily: [],
      historiesLocation: [],
      swiperOptions : {
        slidesPerView: 5,
        spaceBetween: 0,
        freeMode: true,
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
      days: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      apiData: []
    }
  },
  computed: mapGetters(['locationLst']),
  components: {
    // eslint-disable-next-line vue/no-unused-components
    WeatherForecastComponent,
    SearchLocationComponent,
    // eslint-disable-next-line vue/no-unused-components
    swiper,
    // eslint-disable-next-line vue/no-unused-components
    swiperSlide,
    // eslint-disable-next-line vue/no-unused-components
    Slide
  },
  directives: {
    swiper: directive
  },
  methods: {
    loadData (url, forecast) {
      fetch(url)
          .then(res => {
            return res.json();
          }).then(forecast ? this.setResultsForecastDay : this.setResultsCurrentDay);
    },
    init () {
      this.loadData(`${this.url_base}weather?q=${this.defaultQuery}&units=metric&APPID=${this.api_key}`, false);
      // this.loadDataAPI();
    },
    fetchWeather: function(e) {
      if (e.key === "Enter") {
        if (this.query !== '') {
          this.loadData(`${this.url_base}weather?q=${this.query}&units=metric&APPID=${this.api_key}`, false);
        } else {
          this.loadData(`${this.url_base}weather?q=${this.defaultQuery}&units=metric&APPID=${this.api_key}`, false);
        }
      }
    },
    setResultsCurrentDay (results) {
      this.weather = results;
      this.loadData(`${this.url_base}onecall?lat=${this.weather.coord.lat}&lon=${this.weather.coord.lon}&exclude=hourly,minutely&appid=${this.api_key}`, true);
    },
    setResultsForecastDay (forecastResults) {
      this.daily = forecastResults.daily;
    },
    dateBuilderCurrentDay () {
      let d = new Date();
      let day = this.days[d.getDay()];
      let date = d.getDate();
      let month = this.months[d.getMonth()];
      let year = d.getFullYear();
      return `${day} ${date} ${month} ${year}`;
    },
/*    loadDataAPI () {
      this.axios.get('http://localhost:3000/weather').then((response)=>{
        this.apiData = response.data[0].data
        for (let i = 0; i < this.apiData.length; i++) {
          this.apiData.length
        }
      })
    },*/
    loadDataMenu (location) {
      this.loadData(`${this.url_base}weather?q=${location}&units=metric&APPID=${this.api_key}`, false);
    }
  },
  mounted(){
    this.init()
  },
}
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'montserrat', sans-serif;
}
#app {
  background-image: url('../assets/sunny.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s;
}
#app.warm {
  background-image: url('../assets/cloud.jpg');
  background-size: cover;
}
main {
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}
.search-box {
  width: 100%;
  margin-bottom: 30px;
}
.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  color: #313131;
  font-size: 20px;
  appearance: none;
  border:none;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 16px 0 16px;
  transition: 0.4s;
}
.search-box .search-bar:focus {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px 0 16px 0;
}
.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}
.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.weather-box {
  text-align: center;
}
.weather-box .temp {
  display: inline-block;
  padding: 10px 25px;
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  background-color:rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  margin: 10px 0;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 190px;
}
.weather-box .weather {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
</style>