<template>
  <div class="search-box">
      <input
          type="text"
          class="search-bar"
          placeholder="Location..."
          v-model="fieldAddLocation"
          @keypress="fetchWeatherComponent"
      />
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "SearchLocationComponent",
  data () {
    return {
      api_key: '32367c10951289b14b19a306e65e3558',
      url_base: 'https://api.openweathermap.org/data/2.5/',
      fieldAddLocation: '',
    }
  },
  computed: mapGetters(['locationLst']),
  methods: {
    loadData (url) {
      fetch(url)
          .then(res => {
            return res.json();
          }).then(this.checkFieldLocation);
    },
    fetchWeatherComponent: function(e) {
      if (e.key === "Enter" && this.fieldAddLocation !== '') {
        if (this.locationLst[0].data.indexOf(this.fieldAddLocation.toLocaleUpperCase()) === -1) {
          this.loadData(`${this.url_base}weather?q=${this.fieldAddLocation}&units=metric&APPID=${this.api_key}`);
        }
      }
    },
    checkFieldLocation (results) {
      if (results.name) {
        this.addLocation(this.fieldAddLocation.toLocaleUpperCase())
      }
    },
    addLocation (location) {
      this.$store.commit('ADD_LOCATION', location);
      this.fieldAddLocation = ''
    }
  }
}
</script>

<style scoped>
.search-box {
  width: 90%;
  margin-bottom: 30px;
}
.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  color: #313131;
  font-size: 20px;
  appearance: none;
  border:none;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 16px 0 16px;
  transition: 0.4s;
}
.search-box .search-bar:focus {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px 0 16px 0;
}
</style>