<template>
  <div class="weather-box">
    <div class="weather-forecast">
      <div class="date">
        {{ dateBuilder(indexCard + 1) }}
      </div>
      <div class="temp">
        {{Math.round(weatherTemp - 273.15)}}
      </div>
      <div class="icon">
        <img v-bind:src="'https://openweathermap.org/img/wn/' + weatherIcon + '@2x.png'" alt=""/>
      </div>
      <div class="weather">{{ weatherMain }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WeatherForecastComponent",
  props: {
    // eslint-disable-next-line vue/require-prop-type-constructor
    indexCard: '',
    // eslint-disable-next-line vue/require-prop-type-constructor
    weatherTemp: '',
    // eslint-disable-next-line vue/require-prop-type-constructor
    weatherIcon: '',
    // eslint-disable-next-line vue/require-prop-type-constructor
    weatherMain: ''
  },
  methods: {
    dateBuilder (index) {
      let d = new Date();
      let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      let day = '';
      if ((d.getDay() + index) >= 7) {
        day = days[d.getDay() + index - 7];
      } else {
        day = days[d.getDay() + index];
      }
      let date = d.getDate() + index;
      let month = 0;
      if (date === 1) {
        month = months[d.getMonth() + index];
      } else {
        month = months[d.getMonth()];
      }
      return `${day} ${date} ${month}`;
    }
  },
}
</script>

<style scoped>
.date {
  color: #FFF;
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.weather-box {
  text-align: center;
}
.weather-box .weather-forecast{
/*  width: 90px;
  height: 190px;*/
  background-color:rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  display: inline-block;
  padding: 10px 25px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  margin: 10px 0;
}
.weather-box .weather-forecast .temp {
  color: #FFF;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
.weather-box .weather {
  color: #FFF;
  font-size: 10px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
/*.icon img {
  width: 80px;
  margin-left: -16px;
}*/
</style>